<div>

  <div class="row" *ngFor="let value of values || []">
    <div class="col-md-2">
      {{value.sensor.name}}
    </div>
    <div class="col-md-10" [ngSwitch]="value.sensor.produces">
      <thermo-value-string *ngSwitchCase="'STRING'" [value]="value"></thermo-value-string>
      <thermo-value-image *ngSwitchCase="'IMAGE'" [value]="value"></thermo-value-image>
      <thermo-value-number *ngSwitchCase="'NUMBER'" [value]="value"></thermo-value-number>
      <thermo-value-temperature *ngSwitchCase="'TEMPERATURE'" [value]="value"></thermo-value-temperature>
    </div>
  </div>

</div>
