<mat-accordion>
  <mat-expansion-panel *ngFor="let value of values || []">
    <mat-expansion-panel-header>
      {{value.sensor.name}}
    </mat-expansion-panel-header>

    <ng-container [ngSwitch]="value.sensor.produces">
      <thermo-value-string *ngSwitchCase="'STRING'" [value]="value"></thermo-value-string>
      <thermo-value-image *ngSwitchCase="'IMAGE'" [value]="value"></thermo-value-image>
      <thermo-value-number *ngSwitchCase="'NUMBER'" [value]="value"></thermo-value-number>
      <thermo-value-temperature *ngSwitchCase="'TEMPERATURE'" [value]="value"></thermo-value-temperature>
    </ng-container>
  </mat-expansion-panel>
</mat-accordion>
