<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-heading">
        <thermo-add-favorite *ngIf="entity" [name]="entity.serial_number" type="entity"></thermo-add-favorite>
        Entity {{id}}
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12" [ngClass]="animateOnRouteEnter">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-card class="mat-elevation-z0">
            <mat-card-content>
              <div class="row">
                <div class="col-md-2"><strong>Category</strong></div>
                <div class="col-md-10">{{entity && entity.category}}</div>
              </div>
              <div class="row">
                <div class="col-md-2"><strong>Serial Number</strong></div>
                <div class="col-md-10">{{entity && entity.serial_number}}</div>
              </div>
              <div class="row">
                <div class="col-md-2"><strong>Exists since</strong></div>
                <div class="col-md-10">{{entity && entity.exists_since}}</div>
              </div>
              <div class="row">
                <div class="col-md-2"><strong>Kind</strong></div>
                <div class="col-md-10">
                  {{entity && entity.kind && entity.kind.name + ' (' + entity.kind.manufacturer + ')'}}
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-12" [ngClass]="animateOnRouteEnter">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Entity Records</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-card class="mat-elevation-z0">
            <mat-card-content>
              <mat-table #table [dataSource]="recordsDataSource">
                <ng-container matColumnDef="favorite">
                  <mat-header-cell *matHeaderCellDef>Favorite</mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <thermo-add-favorite [name]="element.name"
                                         type="entity-record"
                                         [url]="router.createUrlTree(['../../entity-record', element.id]).toString()"
                                         inTable="true">
                    </thermo-add-favorite>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="timestamp">
                  <mat-header-cell *matHeaderCellDef>Timestamp</mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <a [routerLink]="['../../record', element.record.id]">
                      {{element.record.timestamp}}
                    </a>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="place">
                  <mat-header-cell *matHeaderCellDef>Place</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.record.place.name}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <a mat-button [routerLink]="['../../entity-record', element.id]" class="float-right">View</a>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            </mat-card-content>
          </mat-card>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
