<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="main-heading">
        <thermo-add-favorite *ngIf="record"
                             [name]="record.timestamp"
                             type="record">
        </thermo-add-favorite>
        Record
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12" [ngClass]="animateOnRouteEnter">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-card class="mat-elevation-z0">
            <mat-card-content>
              <div class="row">
                <div class="col-md-2"><strong>Timestamp</strong></div>
                <div class="col-md-10">{{record && record.timestamp}}</div>
              </div>
              <div class="row" *ngIf="record && record.place">
                <div class="col-md-2"><strong>Place</strong></div>
                <div class="col-md-10">
                  <a [href]="'https://www.google.com/maps/?q=' + record.place.latitude + ',' + record.place.longitude"
                     target="_blank"
                     rel="noopener">
                    {{record.place.name}}
                  </a>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-12" [ngClass]="animateOnRouteEnter">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Values</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <thermo-values [values]="record && record.values"></thermo-values>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-12" [ngClass]="animateOnRouteEnter">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Entity Records</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <mat-card class="mat-elevation-z0">
            <mat-card-content>
              <mat-table #table [dataSource]="entityRecordsDataSource">
                <ng-container matColumnDef="favorite">
                  <mat-header-cell *matHeaderCellDef>Favorite</mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <thermo-add-favorite [name]="element.name"
                                         type="entity-record"
                                         [url]="router.createUrlTree(['../../entity-record', element.id]).toString()"
                                         inTable="true">
                    </thermo-add-favorite>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="serialNumber">
                  <mat-header-cell *matHeaderCellDef>Serial Number</mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <a [routerLink]="['../../entity', element.entity.id]">
                      {{element.entity.serial_number}}
                    </a>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="category">
                  <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.entity.category}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <a mat-button [routerLink]="['../../entity-record', element.id]" class="float-right">View</a>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            </mat-card-content>
          </mat-card>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
