<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-heading">Fahrzeuge</h1>
    </div>
  </div>

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="favorite">
      <mat-header-cell *matHeaderCellDef>Favorit</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <thermo-add-favorite [name]="element.serial_number"
                             type="entity"
                             [url]="router.createUrlTree(['../entity', element.id]).toString()"
                             inTable="true">
        </thermo-add-favorite>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Kategorie</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.category | category}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="kind">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Typ</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.kind.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="serial_number">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Seriennummer</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.serial_number}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="exists_since">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Instandsetzung</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.exists_since | date:'dd.MM.yyyy'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a mat-button [routerLink]="['../entity', element.id]" class="float-right">Ansehen</a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
</div>
