<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-heading">Dashboard</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12" [ngClass]="animateOnRouteEnter">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Records</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-card class="mat-elevation-z0">
            <mat-card-content>
              <p>TODO Histogram</p>
            </mat-card-content>
          </mat-card>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6" [ngClass]="animateOnRouteEnter">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Last viewed</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-card class="mat-elevation-z0">
            <mat-card-content>
              <p>TODO list last 5 viewed entities / records / entity kinds / entity records</p>
            </mat-card-content>
          </mat-card>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6" [ngClass]="animateOnRouteEnter">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Types of vehicles</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-card class="mat-elevation-z0">
            <mat-card-content>
              <p>TODO Pie Chart</p>
            </mat-card-content>
          </mat-card>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6" [ngClass]="animateOnRouteEnter">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Favorites</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-card class="mat-elevation-z0">
            <mat-card-content>
              <p *ngIf="favoriteService.getFavorites().length === 0">
                No favorites added yet
              </p>
              <mat-nav-list>
                <a mat-list-item [routerLink]="favorite.url" *ngFor="let favorite of favoriteService.getFavorites()">
                  {{favorite.type}}: {{favorite.name}}
                </a>
              </mat-nav-list>
            </mat-card-content>
          </mat-card>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6" [ngClass]="animateOnRouteEnter">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Recent activity</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-card class="mat-elevation-z0">
            <mat-card-content>
              <p>TODO list recent activity</p>
            </mat-card-content>
          </mat-card>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
